{
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "arrowParens": "always",
  "printWidth": 120,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app",
    "^@/pages",
    "^@/layouts",
    "^@/widgets",
    "^@/features",
    "^@/entities",
    "^@/shared",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "endOfLine": "auto"
}
